/* Simple File List | Admin CSS | Mitchell Bennis | Element Engage, LLC | mitch@elementengage.com */


.eeSFL_Admin {
/* 	max-width: 70%; */
/* 	font-size: 120%; */	
}

.eeSFL_Admin #eeSFL {
	padding: 0;
}

.wrap h2.nav-tab-wrapper {
	clear: both;
	margin-top: 20px;
}


.eeSFL_Admin h3 {
	clear: left;
	width: 75%;
}

.tabList {
	font-size: 90%;
}

.tabSupport {
	float: right;
}

.eeSFL_Admin .eeAlignRight {
	float: right;
	margin: 0 1em 1em 0;
}

.eeSFL_Admin .eeAlignLeftTwoThirds {
	float: left;
	width: 66%;
}

#eeSFL form {
	border: none;
	padding: 0;
}

.eeSFL_Admin fieldset {
	display: block;
	position: relative;
	clear: both;
/*
	border: 2px solid #DDD;
	border-top-width: 0;
*/
	padding: 1em;
/* 	margin: 1em; */
/* 	background-color: #fafafa; */
}
#eeAdminFooter fieldset {
	border-top-width: 2px;
}

.eeSFL_Admin label, .eeSFL_Admin span {
	float: left;
	clear: left;
	width: 23%;
	text-align: right;
	margin-right: .5em;
	padding: 4px;
	margin-bottom: 1em;
	background: #DDD;
	border: 1px solid #CCC;
}
.eeSFL_Admin .eeRadioLabel {
	clear: none;
	width: auto;
	background: transparent;
}

.eeSFL_Admin select, 
.eeSFL_Admin input[type=text], 
.eeSFL_Admin input[type=url], 
.eeSFL_Admin input[type=password], 
.eeSFL_Admin input[type=tel], 
.eeSFL_Admin input[type=email],
.eeSFL_Admin textarea, 
.eeSFL_Admin span.eeValueDisplay {
	float: left;
	width: 65%;
	padding: 4px;
}
.eeSFL_Admin textarea {
	margin-bottom: 10px;
}
.eeSFL_Admin input[type=radio] {
	float: left;
	width: 1.2em;
	height: 1.2em;
	display: inline-block;
	margin-top: .325em;
	margin-right: 2em;
}
#eeSFL_Settings input[type=checkbox] {
	float: left;
	width: 1.4em;
	height: 1.4em;
	display: inline-block;
	margin-top: .325em;
	margin-right: .5em;
}
.eeSFL_Admin input[type=submit], 
.eeSFL_Admin button {
	font-size: 130%;
	margin-bottom: .5em;
}
button.eeDeleteCheckedButton {
	float: right;
	display: inline-block;
	width: auto;
}

.eeSFL_Admin p {
	margin: 0;
	margin-top: .325em;
/* 	margin-bottom: 2em; */
}


/* File Rename Entry */

.eeSFL_Admin span.eeSFL_FileRenameEntry {
	float: none;
	clear: none;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	text-align: left;
}
#eeSFL .eeSFL_FileRenameEntry input[type=text] {
	width: 60%;
	margin: 0;
	float: none;
	clear: none;
}
#eeSFL .eeSFL_FileRenameEntry input[type=submit],
#eeSFL .eeSFL_FileRenameEntry a.button {
	float: none;
	clear: none;
	margin: 0;
	margin-left: 10px;
	font-size: 100%;
}


.eeNote {
	float: left;
	clear: both;
	margin-bottom: 30px;
}

.eeAlert {
	float: right;
	font-size: 125%;
	color: red;
	background-color: #DDD;
	margin: 20px;
	padding: 4px;
}

.eeBacklink {
	display: block;
	text-align: center;
	font-size: 70%;
}

#eeSFL_noFiles {
	clear: both;
	width: 100%;
	padding: 2em;
	padding-top: 10px;
}
#eeSFL_noFiles p {
	font-size: 120%;
	font-weight: bold;
	font-style: italic;
}

/* SUPPORT Page */

#eeSFL .eeSupp {
	display: block;
	clear: both;
	border: 2px solid #DDD;
	padding: 1em;
	margin: 1em;
/* 	width: 60%; */
}

.eeSupp .eeSupp {
	width: auto;
}

#eeSFL .eeSupp h2 {
	font-size: 150%;
}

#eeSFL .eeSupp h3 {
	font-size: 120%;
	font-style: italic;
}

#eeSFL .eeSupp p {
	font-size: 100%;
	margin-bottom: 2em;
}

#eeSFL .eeSupp input[type=text],
#eeSFL .eeSupp input[type=email],
#eeSFL .eeSupp input[type=url],
#eeSFL .eeSupp textarea {
	float: left;
	clear: none;
	width: 60%;
	font-size: 120%;
}

#eeSFL .eeSupp textarea {
	height: 300px;
}

#eeSFL .eeSupp label {
	float: left;
	clear: left;
	width: 25%;
	text-align: right;
	margin-right: 1%;
	padding: 5px;
	margin-bottom: 1em;
	background: #DDD;
	font-size: 110%;
}

#eeSFL .eeSupp #eeSupportFormSubmit {
	font-size: 200%;
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
	float: left;
	clear: both;
}

#eeSFL .eeSupp strong {
	font-size: 120%;
}


#eeSupportBanner {
	width: 300px;
	height: auto;
	padding: 5px;
	margin: 5px;
	border: 1px solid #DDD;
	
}

#eeAdminFooter {
	clear: both;
	color: #333;
	background-color: #E5E5E5;
	padding: .5em .8em;
}
#eeAdminFooter p {
	padding-bottom: 20px;
}

.eeClear {
	clear: both;
}

.eeNoClear {
	clear: none !important;
	width: auto !important;
}

.eeRight {
	float: right;
	clear: right;
}

.eeButton {
	float: left;
	font-size: 125% !important;
	margin: 6px !important;
}

#eeSFL a.eeGet {
	font-size: 120%;
}

.eeSFL_Admin span.eeContact_Required {
	width: auto;
	background-color: transparent;
	float: left;
	clear: none;
	border: none;
}


#mitchellbennisHeadshot {
	float: right;
	margin-left: 10px;
}


.wrap #eeSFL_DevMode {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 45%;
	border: 2px dashed #333;
	padding: 10px;
}
.eeAlert {
	float: right;
	font-size: 125%;
	color: red;
	background-color: #DDD;
	margin: 20px;
	padding: 4px;
}


.eeSFL_Admin .eeExtensions ul {
	list-style: disc;
	margin-left: 10%;
	margin-bottom: 30px;
}


.eeHide {
	display: none;
}




/* Shortcode Builder */

#eeShortcodeBuilder {
	margin-bottom: 20px;
	border: 1px solid #bababa;
	background-color: #e0e0e0;
	padding: 10px;
	text-align: center;
}

#eeShortcodeControls {
    float: right;
    width: 45%;
	background-color: #e0e0e0;
	padding: 6px 6px 6px 0;
	border: 1px solid #bababa;
}

#eeSFL #eeCreatePostwithShortcode {
	margin: 0;
	padding: 0;
	border: none;
}
#eeSFL #eeCreatePostwithShortcode p {
	text-align: right;
	margin-bottom: 5px;
}
#eeCreatePostwithShortcode select,
#eeCreatePostwithShortcode input[type=submit] {
	display: inline-block;
	margin: 0;
	float: none;
}
#eeCreatePostwithShortcode select {
	font-size: 100%;
	text-align: left;
	padding: 3px;
	margin-bottom: 5px;
	width: inherit;
}
#eeCreatePostwithShortcode input[type=submit] {
	margin: 0;
}








#eeSFL form.eeShortcodeBuilderTop {
	float: none;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	text-align: center;
}
.eeShortcodeBuilderBottom {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
}

.eeShortcodeBuilderBottom p {
	display: inline-block;
	color: #696969;
	background-color: #e8e8e8;
	border: 1px solid #555;
	width: auto;
	padding: .5em .8em;
	margin: 10px;
	cursor: pointer;
}
#eeSFL .eeOn {
	background-color: #b2b2b2;
}
.eeShortcodeBuilderBottom p:hover {
	background-color: #b8b8b8;
}
.eeShortcodeBuilderBottom p b {
	display: inline-block;
	text-align: center;
	width: 40px;
	height: 100%;
	padding: 0 5px;
	margin-right: 5px;
	background-color: #6d6d6d;
	color: #EEE;
}




#eeSFL .eeSupp #eeSFL_ShortCode {
	width: 100%;
	font-size: 120%;
	height: auto;
}

#eeSFL .eeSupp #eeShortcodeBuilder label {
	display: inline-block;
	clear: none;
	text-align: left;
	background-color: transparent;
	border: none;
	width: 40%;
	margin: 10px;
}
#eeSFL .eeSupp #eeShortcodeBuilder select {
	display: inline-block;
	width: 100%;
}


.eeClearfix:before,
.eeClearfix:after {
  content: "";
  display: table;
}

.eeClearfix:after {
  clear: both;
}

.eeFullWidth {
	display: block !important;
	width: auto !important;
	float: none !important;
}

.eeRight {
	max-width: 45%;
	height: auto;
	float: right;
	margin: 0 0 .5em .5em;
}
#eeSFL .eeCentered {
	width: 100%;
	text-align: center;
}

#eeSFL hr {
	clear: both;
	margin: 2em auto;
}









