/* Simple File List CSS | Mitchell Bennis | Element Engage, LLC | mitch@elementengage.com */

#eeSFL h1, #eeSFL p {
	text-align: left;
}

#eeSFL form {
	border: 2px solid #DDD;
	padding: 1.5em;
	padding-top: .5em;
	margin: 1em auto;
}

.eeSFLContactInfo {
	clear: both;
	padding: 20px;
	width: 100%;
}

.eeSFL_Spacer {
	width: 100%;
	height: 1em;
	clear: both;
}


#eeSFL {
	padding: 1em;
}
#eeSFL label {
	float: left;
}
#eeSFL input[type=text],
#eeSFL input[type=tel],
#eeSFL input[type=email],
#eeSFL input[type=file],
#eeSFL textarea {
	float: left;
	clear: left;
	width: 100%;
	margin-bottom: 20px;
}
#eeSFL input[type=submit] {
	float: right;
	clear: both;
	margin-top: 30px;
}
#eeSFL .sfl_instuctions {
	font-size: 70%;
	font-style: italic;
}

#eeSFL input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #DDD;
  font-style: italic;
  margin-left: 3em;
}
#eeSFL input::-moz-placeholder { /* Firefox 19+ */
  color: #DDD;
  font-style: italic;
  margin-left: 3em;
}
#eeSFL input:-ms-input-placeholder { /* IE 10+ */
  color: #DDD;
  font-style: italic;
  margin-left: 3em;
}
#eeSFL input:-moz-placeholder { /* Firefox 18- */
  color: #DDD;
  font-style: italic;
  margin-left: 3em;
}


#eeSFL table.eeFiles {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #999;
	text-align: center;
}


#eeSFL .eeFiles tr:hover {
	background: #FFF;
}
#eeSFL .eeFiles th {
	text-align: center;
	background: #555;
	color: #EEE; 
	cursor: pointer;
}
#eeSFL .eeFiles td {
	padding: .25em 0;
	border-bottom: 1px solid #999;
	text-overflow: clip;
	overflow: hidden;
	vertical-align: middle;
}
#eeSFL td {
	text-align: center;
}

#eeSFL td.eeSFL_Thumbnail,
#eeSFL td.eeSFL_Thumbnail img {
/*     width: 50px; */
}

#eeSFL td.eeSFL_FileName {
	text-align: left;
	padding-left: 3px;
}
#eeSFL p.eeSFL_FileLink {
	margin: 0;
	padding: 0;
}
#eeSFL .eeFiles th.eeSFL_FileName,
#eeSFL .eeFiles td.eeSFL_FileName {
	text-align: left;
}
#eeSFL .eeFiles td a {
	text-decoration: none;
}
#eeSFL input[type=file] {
	float: left;
	margin-right: 2em;
	font-size: 120%;
}
#eeSFL .eeUploadButton {
	float: left;
}




#eeSFL_FileDropZone {
	
	padding: 10px;
	border: 5px dashed #444;
}

#eeSFL_UploadProgress {
	
	display: none; /* Show with javascript */
	
	width: 1%;
	height: 2em;
	line-height: 2em;
	background-color: #23e100;
	color: #FFF;
	font-size: 1em;
	text-align: center;
}
#eeSFL_UploadProgress em {
	display: none; /* Show with javascript */
}




.eeSFL_UploadingImg,
.entry-content .eeSFL_UploadingImg {
	margin-right: 1em;
	box-shadow: none !important;
	border-radius: 32px;
}



.eeSFL_EditFileWrap {
	display: none;
	margin: 5px 0;
	padding: 10px 3%;
	border: 1px solid black;
}




#eeSFL_SendPop {
	
	position: fixed; /* Sit on top of the page content */
	display: none; /* Show with JS */
	width: 60%;
	height: 80%;
	top: 10%; 
	left: 20%;
	right: 20%;
	bottom: 10%;
	background-color: rgba(245, 245, 245, 1);
	border: 1px solid #666;
	z-index: 100;
	overflow: auto;
	-webkit-overflow-scroll: touch;
	
}
#eeSFL_SendPop h2,
#eeSFL_SendPop h3,
#eeSFL_SendPop p {
	margin: 0 0 10px 0;
}
#eeSFL_SendTheseFilesList {
	margin-left: 4%;
}
#eeSFL_SendPop article {
	margin: 3%;
	padding-right: 2%;
	height: 100%;
	overflow-y: scroll;
}
#eeSFL_SendPop article p {
	
}
#eeSFL_SendPop #eeSFL_Send_AddFiles {
	display: block;
	float: right;
}
#eeSFL_SendPop form {
	border: none;
	padding: 0;
}
#eeSFL_SendPop label {
	float: left;
	clear: both;
	width: 30%;
	height: 2em;
	line-height: 2em;
	margin: 15px 2% 0 0;
	padding-right: 5px;
	text-align: right;
	background-color: #787878;
	color: #FFF;
}
#eeSFL_SendPop note {
	float: left;
	clear: both;
	margin: 0;
}
#eeSFL_SendPop input[type=text],
#eeSFL_SendPop textarea {
	float: left;
	clear: none;
	width: 68%;
	height: 2em;
	margin: 15px 0 0 0;
	background-color: #FFF;
}
#eeSFL_SendPop textarea {
	height: 5em;
}

#eeSFL_SendPop p.eeSFL_SendButtons {
	text-align: center;
}

#eeSFL_SendPop input[type="submit"],
#eeSFL_SendPop button {
	float: none;
}
#eeSFL_SendMoreFiles {
	display: none;
}






#eeSFL p.sfl_instuctions {
	float: right;
	text-align: right;
	width: 50%;
}

.eeCenter {
	text-align: center !important;
}

.eeClearFix {
	clear: both;
}


.eeSFL_Hide, 
.eeSFL_FileRenameEntry, 
.eeOldFileName,
.eeSFL_SavedDesc {
	display: none;
}




