/* Simple File List | Author: Mitchell Bennis | support@simplefilelist.com */

/* DEFAULT TABLE STYLES */

.eeSFL table.eeFiles {
	width: 100%;
	margin: 1em auto;
	border-collapse: collapse;
	border: 1px solid #999;
	text-align: center;
}
.eeSFL .eeFiles tr:hover {
	background: #FFF;
}
.eeSFL .eeFiles th {
	padding: .5em 0;
	text-align: center;
	background: #555;
	color: #EEE;
}
.eeSFL .eeFiles td {
	padding: .25em 0;
	border-bottom: 1px solid #999;
	overflow: hidden;
	vertical-align: middle;
}
.eeSFL th,
.eeSFL td {
	word-break: normal;
	width: auto;
}
.eeSFL td.eeSFL_Thumbnail {
	width: 64px;
}
.eeSFL td.eeSFL_Thumbnail img {
	display: block;
	margin: 0 auto;
}
.eeSFL_Admin .eeSFL td.eeSFL_Thumbnail img {
	margin: 1em;
}
.eeSFL td.eeSFL_FileName {
	text-align: left;
	padding-left: 3px;
}
.eeSFL_Admin .eeSFL .eeSFL_FileLink {
	font-weight: bold;
}
.eeSFL p.eeSFL_FileLink,
.eeSFL p.eeSFL_FileDesc,
.eeSFL p.eeSFL_FileSubmitter {
	margin: 0;
	padding: 0;
}
.eeSFL p.eeSFL_FileDesc,
.eeSFL p.eeSFL_FileSubmitter {
	font-size: 80%;
}
.eeSFL .eeFiles th.eeSFL_FileName,
.eeSFL .eeFiles td.eeSFL_FileName {
	text-align: left;
	padding-left: 10px;
}
.eeSFL .eeFiles td a {
	text-decoration: none;
}
.eeSFL label {
	float: left;
}

/* EDIT DIALOG */

.eeSFL .eeSFL_EditFileWrap {
	display: none;
	width: auto;
	margin: 5px 0;
	padding: 10px 3%;
	border: 1px solid #6b6b6b;
	border-radius: 6px;
	background-color: #f6f6f6;
}
.eeSFL .eeSFL_EditFileWrap h4 {
	margin: 0;
}
.eeSFL .eeSFL_EditFileWrap p {
	margin: 10px 0;
}
.eeSFL .eeSFL_EditFileWrap label {
	display: inline-block;
	width: 20%;
	margin-right: 6px;
	text-align: right;
}
.eeSFL .eeSFL_EditFileWrap input[type=text] {
	display: inline-block;
	width: 55%;
	margin: 0; 
}
