/* Simple File List | Author: Mitchell Bennis | support@simplefilelist.com */

/* DEFAULT TABLE STYLES */

.eeSFL table.eeFiles {
	width: 100%;
	margin: 1em auto;
	border-collapse: collapse;
	border: 1px solid #999;
}
.eeSFL table.eeFiles tr:hover {
	background: #FFF;
}
.eeSFL table.eeFiles th {
	padding: .25em;
	text-align: center;
	background: #555;
	color: #EEE;
}
.eeSFL table.eeFiles td {
	padding: .25em 0;
	border-bottom: 1px solid #999;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
	width: auto;
}
.eeSFL table.eeFiles th,
.eeSFL table.eeFiles td {
	word-break: normal;
	width: auto;
}
.eeSFL table.eeFiles td.eeSFL_Thumbnail {
	width: 64px;
}
.eeSFL table.eeFiles td.eeSFL_Thumbnail img {
	display: block;
	margin: 0 auto;
}
.eeSFL table.eeFiles td.eeSFL_FileName {
	text-align: left;
	padding-left: 3px;
}
.eeSFL table.eeFiles p.eeSFL_FileLink,
.eeSFL table.eeFiles p.eeSFL_FileDesc,
.eeSFL table.eeFiles p.eeSFL_FileSubmitter {
	margin: 0;
	padding: 0;
}
.eeSFL table.eeFiles p.eeSFL_FileDesc,
.eeSFL table.eeFiles p.eeSFL_FileSubmitter {
	font-size: 80%;
}
.eeSFL table.eeFiles th.eeSFL_FileName,
.eeSFL table.eeFiles td.eeSFL_FileName {
	text-align: left;
	padding-left: 10px;
}
.eeSFL table.eeFiles td a {
	text-decoration: none;
}
.eeSFL table.eeFiles .eeSFL_FileSize,
.eeSFL table.eeFiles .eeSFL_FileDate {
	font-size: 80%;
	padding-left: 1em;
	padding-right: 1em;
}
.eeSFL table.eeFiles .eeSFL_FileSize {
	white-space: nowrap;
}

.eeSFL table.eeFiles .eeSFL_ListFileActions > a {
	display: inline-block;
	color: #EEE;
	background-color: #555;
	padding: .1em .3em;
	margin-right: .2em;
	border-radius: 3px;
	font-size: 80%;
}
.eeSFL table.eeFiles .eeSFL_ListFileActions > a:hover {
	background-color: #333;
}

/* EDIT DIALOG */

.eeSFL .eeSFL_EditFileWrap {
	display: none;
	width: auto;
	margin: 5px 0;
	padding: 10px 3%;
	border: 1px solid #6b6b6b;
	border-radius: 6px;
	background-color: #f6f6f6;
}
.eeSFL .eeSFL_EditFileWrap h4 {
	margin: 0;
}
.eeSFL .eeSFL_EditFileWrap p {
	margin: 10px 0;
}
.eeSFL .eeSFL_EditFileWrap label {
	display: inline-block;
	width: 20%;
	margin-right: 6px;
	text-align: right;
}
.eeSFL .eeSFL_EditFileWrap input[type=text] {
	display: inline-block;
	width: 55%;
	margin: 0; 
}
